* {
    box-sizing: border-box;
    font-family: plus-jakarta-sans, sans-serif;
    opacity: 1;
    color: gray;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
}
header{
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    padding: 33px 9%;
    background: rgb(32, 44, 69);
}
.nama{
    font-size: 30px;
    font-weight: 700;
    color: white;
    right: 0;
}
.navlist{
    display: flex;
    margin-right: 15px;
    position: absolute;
    right: 0;
}
.navlist a{
    color: white;
    margin-left: 40px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}
.navlist a:hover{
    border-bottom: 2px solid white;
}
.logo{
    color: white;
    font-weight: 600;
    font-size: 20px;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    position: relative;
    margin: 0px;
    padding: 0px;
}
.title1 {
    top: 100px;
    position: absolute;
    left: 126px;
    font-size: 23px;
}
.deskripsi1 {
    top: 130px;
    position: absolute;
    margin-right: 750px;
    font-size: 18px;
    left: 127px;
}
.title2 {
    top: 300px;
    position: absolute;
    left: 126px;
    color: black;
    font-size: 23px;
}
.deskripsi2 {
    top: 330px;
    position: absolute;
    margin-right: 750px;
    font-size: 18px;
    left: 127px;
}
.title3 {
    top: 590px;
    position: absolute;
    left: 126px;
    color: black;
    font-size: 23px;
}
.deskripsi3 {
    top: 620px;
    position: absolute;
    margin-right: 750px;
    font-size: 18px;
    left: 127px;
}
.hitam{
    color: black;
}
.biru{
    color: rgb(32, 44, 69);
}
.table {
    top: 700px;
    position: absolute;
    margin-right: 600px;
    text-align: left;
    vertical-align: top;
    color: black;
    border-spacing: 0px;
}
tr {
    color: black;
}
td {
    color: black;
    text-align: left;
    vertical-align: top;
}
th {
    color: black;
}
.info {
    position: absolute;
    display: block;
    height: auto;
    width: 600px;
    top: 700px;
    right: 0px;
}
.pdp {
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: block;
    width: 600px;
    height: auto;
    top: 1693px;
    margin: 0px auto;
}
footer {
    position: absolute;
    bottom: -1535px;
    left: 0px;
    width: 100%;
    background-color: rgb(32, 44, 69);
    text-align: center;
    padding: 20px;
}
.footer-text {
    color: white;
}